.largeur-un {
  width: 1rem;
}

.largeur-deux {
  width: 2rem;
}

.largeur-trois {
  width: 3rem;
}

.largeur-quatre {
  width: 4rem;
}

.largeur-cinq {
  width: 5rem;
}

.largeur-six {
  width: 6rem;
}

.largeur-sept {
  width: 7rem;
}

.largeur-huit {
  width: 8rem;
}

.largeur-neuf {
  width: 9rem;
}

.largeur-dix {
  width: 10rem;
}
