@mixin imageAlign($align)
    @if $align == left
        margin-right: auto
        display: flex
    @else
        margin-left: auto
        display: flex

.img_left
    @include imageAlign(left)

.img_right
    @include imageAlign(right)
